title: "Default Config"
type: "object"
properties:
  options:
    type: "object"
    properties:
      autoDiscover:
        title: "Auto Discover Chromecast"
        type: "boolean"
        default: false
      chromecastName:
        title: "Chromecast Name"
        type: "string"
    required: [
      "autoDiscover"
    ]
required: [
  "options"
]
