{
  title: 'DisplayMedia'
  type: 'object'
  properties:
    data:
      type: 'object'
      properties:
        media:
          type: 'object'
          properties:
            contentId:
              title: 'Media URL'
              type: 'string'
            streamType:
              title: 'Stream Type'
              type: 'string'
              enum: [
                'LIVE'
                'BUFFERED'
              ]
              default: 'LIVE'
            contentType:
              title: 'Content Type'
              type: 'string'
              default: 'video/mp4'
            required: [
              'contentId'
              'streamType'
              'contentType'
            ]
        options:
          type: 'object'
          properties:
            autoplay:
              type: 'boolean'
              default: true
            currentTime:
              type: 'number'
              default: 0
        required: [
          'media'
          'options'
        ]
}
